/Scenes/
/TextMesh Pro/
Npc_dialogue.cs.meta
NPC.png
NPC.png.meta
NPC2
NPC2.png
Player.cs
Player.cs.meta
Estadisticas.cs.meta
font.png
font.png.meta
Interfas.cs.meta
Scenes.meta
Square.png.meta
Square.png
TextMesh Pro.meta
The Wild Breath of Zelda.asset.meta
The Wild Breath of Zelda.otf.meta